/* 1-mashq */
p {
    color: red;
}
/* 2-mashq */
body {
    background-color: lightblue;
}
/* 3-mashq */
p {
    font-family: Arial;
}
/* 4-mashq */
h1 {
    text-align: center;
}
/* 5-mashq */
div {
    border: 2px solid black;
}
